{
  "league_config": "league_colors.json",
  "division_colors": {
    "Pro": "#FF8C00",
    "ProAm": "#9370DB",
    "Am": "#45B3E0",
    "Rookie": "#FF2000",
    "Default": "#FFFFFF"
  },
  "x": 978,
  "y": 427,
  "height": 280,
  "width": 320,
  "opacity": 0.8,
  "allow_resize": true,
  "hide": true,
  "center_drivers": false
}