{
  "league_config": "leaguedivisions.json",
  "division_colors": {
    "Pro": "#FF8C00",
    "ProAm": "#9370DB",
    "Am": "#45B3E0",
    "Rookie": "#FF2000",
    "Default": "#FFFFFF"
  },
  "x": 984,
  "y": 393,
  "height": 348,
  "width": 320,
  "opacity": 0.8,
  "hide_headers": false,
  "center_drivers": false,
  "bold_drivers": false
}