{
  "league_config": "league_divisions.json",
  "recent_local_configs": [],
  "division_colors": {
    "Pro": "#FF8C00",
    "ProAm": "#9370DB",
    "Am": "#45B3E0",
    "Rookie": "#FF2000",
    "Default": "#FFFFFF"
  },
  "x": 343,
  "y": 69,
  "width": 320,
  "height": 482,
  "opacity": 0.5,
  "refresh_rate": 1.0,
  "hide_headers": true,
  "center_drivers": false,
  "bold_drivers": true,
  "show_gap": false,
  "show_division_gap": true,
  "show_interval": false,
  "show_division_interval": true,
  "show_last_lap": false,
  "show_delta": false,
  "show_best_lap": false,
  "show_positions_gained": false,
  "show_rating": false,
  "show_pit_lap": false,
  "show_footer": false,
  "show_broadcast_header": true,
  "broadcast_roll_enabled": true,
  "broadcast_roll_rows": 5,
  "broadcast_roll_interval_seconds": 5,
  "font_size": "Medium",
  "row_color_style": "Default",
  "log_level": "INFO",
  "faster_color": "#00FF00",
  "slower_color": "#FF0000"
}